@use 'sass:math';
@use '../globals/mixins' as *;


html, body{
	margin: 0;
	padding: 0;
	font-size: $font-size;
	font-family: $font-family;
}
// div{
// 	@extend %text-center;
// 	width: math.div(600px, 960px) * 100%;
// }

p{
	font-size: 1em;
}

a{
	font-size: 1em;
	display: inline-block;
	color: var(--c-brand);
	background-color: var(--c-white);
	padding: 0 .8em;
	transform:skew(-8deg);
	letter-spacing: 1px;
	&:hover{
		transform:skew(-8deg) translateY(-1px);
		box-shadow: 2px 2px 0 0 var(--c-black);
		&::before{
			position: absolute;
			top: .1em;
			left: -1.8em;
			content: '';
			border-style: solid;
			border-color: transparent;
			border-top-width: .8em;
			border-bottom-width: .8em;
			border-left-width: 20px;
			border-left-color: var(--c-white);
			transform: scale(.6);
		}
	}
}

strong{
	position: relative;
	font-weight: normal;
	&::after{
		display: block;
		content: '';
		position: absolute;
		bottom: -3px;
		left:  -3%;
		width: 106%;
		border-bottom: 2px var(--c-white) dotted;
	}
}