@use 'sass:math';
@use '../globals/mixins' as *;


html, body{
	margin: 0;
	padding: 0;
	font-size: $font-size;
	font-family: $font-family;
}
// div{
// 	@extend %text-center;
// 	width: math.div(600px, 960px) * 100%;
// }