// @use 'sass:math';
@use '../globals/mixins' as *;

body{
	padding: var(--page-padding);
	height: 100%;
	background-color: var(--c-white);
	overflow: hidden;
}

h2{
	font-size: 2em;
	margin: 3em 0 1em 0;
	color: var(--c-white);
	text-transform:uppercase;
	text-shadow: 2px 2px 0 var(--c-black);
	transform: translateX(-.18em);
}
h3{
	font-size: 1.3em;
	color: var(--c-white);
	transform: translateX(-.1em);
}
p{
	margin: .6em 0;
}

.container{
	#page > &{
		width: 100%;
		height: 100%;
		background-image: url(../images/bg.webp);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		overflow-y: scroll;
		header{
			position: fixed;
			width: calc(100% - (var(--page-padding) * 2));
			height: 100%;
			display: flex;
			pointer-events: none;
			z-index: 0;
			#branding{
				display: flex;
				flex: 0 0 50%;
				justify-content: flex-end;
				align-items: center;
				padding: 0 3em 3em 3em;
				transition: all .8s ease-in-out;
			}
			#brief{
				display: flex;
				justify-content: flex-start;
				align-items: center;
				padding: 0 3em 3em 3em;
				transition: all .8s ease-in-out;
			}
		}
		main{
			position: relative;
			margin-top: 100vh;
			z-index: 1;
			// background-position-x: 100%;
			&::before{
				position: absolute;
				top: 0;
				left: 0;
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background: linear-gradient(90deg, $brand-0 0% ,$brand-0 33.33%, $brand 33.331% ,$brand 66.66%, $brand-0 66.661% ,$brand-0 100%);
				background-size: 150% 100%;
				background-position-x: 0;
				transition: all .6s ease-in-out;
				z-index: -1;
			}
		}
		footer{
			width: 100%;
			height: 100%;
			min-height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		#resume{
			font-size: .9em;
			#tools{
				span{
					display: inline-block;
					width: 6.8em;
				}
			}
			#experience{
				li{
					margin: var(--page-padding) 0;
					display: flex;
					hgroup{
						flex: 0 0 16em;
						margin: 0.6em 0;
						color: var(--c-white);
						font-weight: bold;
						h3{
							margin: 0;
						}
						p{
							margin: 0;
							color: var(--c-black);
							opacity: .7;
							letter-spacing: 0;
						}
					}
					p{
						letter-spacing: 1px;
					}
				}
			}
			small, time{
				display: inline-block;
				width: 11.2em;
				color: var(--c-white);
				transform: translateY(2px);
				opacity: .8;
				text-shadow: 1px 1px 0 var(--c-black);
			}
		}
		#profilio{
			.filter{
				position: sticky;
				top: calc(var(--page-padding) * 3);
				a{
					position: relative;
					display: block;
					width: max-content;
					margin: .6em 0;
					&.active{
						&::before{
							position: absolute;
							top: .1em;
							left: -1.8em;
							content: '';
							border-style: solid;
							border-color: transparent;
							border-top-width: .8em;
							border-bottom-width: .8em;
							border-left-width: 20px;
							border-left-color: var(--c-white);
							transform: scale(.6);
						}
					}
				}
			}
			h2{
				color: var(--c-brand);
				// text-shadow: 2px 2px 0 var(--c-white);
			}
			h3, .h3{
				margin: calc(var(--page-padding) * 3) 0 .8em 0;
				padding: .8em 0;
				font-size: 1.2em;
				text-align: right;
				line-height: 1.25;
				color: var(--c-white);
				font-weight: bold;
				&::after{
					content: '';
					display: inline-block;
					border-style:solid ;
					border-width: .4em;
					border-color: transparent;
					border-top-color: var(--c-white);
					border-top-width: .8em;
					border-bottom-width: 0;
					margin: 0 0 -0.1em .5em;
				}
			}
			.profilioList{
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;
				gap: 1em;
				height: auto;
				overflow: hidden;
				transition: all .3s ease-in-out;
				li{
					width: calc((100% / 3) - 1em);
					figure{
						position: relative;
						width: 100%;
						height: 100%;
						aspect-ratio: 1 / 1;
						border-radius: 8px;
						overflow: hidden;
						figcaption{
							position: absolute;
							top: 0;
							left: 0;
							display: flex;
							justify-content: center;
							align-items: center;
							width: 100%;
							height: 100%;
							text-align: center;
							line-height: 1.25;
							&::after{
								content: '';
								width: 100%;
								height: 100%;
								display: block;
								position: absolute;
								top: 0;
								left: 0;
								background-color: var(--c-black);
								opacity: 0;
								z-index: 0;
							}
							a{
								position: relative;
								padding: .25em 1em;
								text-decoration: none;
								z-index: 1;
								scale: 0;
								&::before{
									content: none !important;
								}
							}
							&:hover{
								a{
									scale: 1;
								}
								&::after{
									opacity: 0.6;
								}
							}
						}
						img{
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}
			#profilioListKey{
				&.profilioList{
					li{
						width: calc(50% - 1em);
						figure{
							aspect-ratio: 10 / 7;
						}
					}
				}
			}
			#showEarlier{
				display: none;
				visibility: hidden;
				opacity: 0;
				transform: scale(0);
				position: fixed;
				left: -100vh;
				z-index: -1;
				~ p{
					text-align: right;
					.h3{
						cursor: pointer;
						position: relative;
						text-align: center;
						padding: 0 1.25em 0 .25em;
						transition: all .6s ease-in-out;
						border-bottom: 1px solid var(--c-white);
						&::after{
							content: '...';
							position: absolute;
							right: .25em;
							top: .5em;
							border: none;
						}
						&:hover{
							background-color: var(--c-white);
							color: var(--c-brand);
							&::after{
								color: var(--c-brand) !important;
								border-top-color: var(--c-brand) !important;
							}
						}
					}
				}
				&:not(:checked){
					~ .profilioList{
						max-height: 0;
					}
				}
				&:checked{
					~ .profilioList{
						max-height: 100%;
					}
					~ p{
						.h3{
							&::after{
								top: 1em;
								content: '';
								border-style:solid ;
								border-width: .4em;
								border-color: transparent;
								border-top-color: var(--c-white);
								border-top-width: .8em;
								border-bottom-width: 0;
								margin: 0 0 -0.1em .5em;
							}
						}
					}
				}
			}
		}
	}
	main > &{
		position: relative;
		display: grid;
		grid-template: "c-left c-right";
		grid-template-columns: 1fr 1fr;
		height: 100%;
		min-height: 100vh;
		article{
			position: relative;
			padding: 8em;
			&.left{
				grid-area: c-left;
			}
			&.right{
				grid-area: c-right;
			}
		}
		aside{
			position: relative;
			padding: 3.8em 8em;
			& .left{
				grid-area: c-left;
			}
			& .right{
				grid-area: c-right;
			}
		}
	}
	section > &{
		margin: 0;
	}
	// &::before{
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	content: '';
	// 	display: block;
	// 	width: 100%;
	// 	height: 100%;
	// 	background-color: $brand;
	// 	opacity: 0.5;
	// 	z-index: -1;
	// 	pointer-events: none;
	// }
}

#page{
	&.left{
		#brief{
			opacity: 0;
		}
		#branding{
			opacity: 0;
		}
		main::before{
			background-position-x: 100%;
		}
	}
	&.full{
		#branding{
			opacity: 0;
		}
		#brief{
			opacity: 0;
		}
		main::before{
			opacity: .8;
			background-size: 300% 100%;
			background-position-x: 50%;
			// filter: brightness(200%);
		}
	}
}

.flex{
	display: flex;
	// gap: calc(var(--page-padding) * 3.5);
}

nav.main{
	position: sticky;
	top: calc(100vh - (var(--page-padding) * 4.5));
	float: right;
	display: flex;
	// flex-direction: row;
	gap: 1em;
	.right &{
		float: left;
	}
}